@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css 註解*/
.image {
  font-size: 0;
}
.image img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_white {
  color: #1E88A8;
  background-color: #f5f5f5;
  border-radius: 50px;
  transition: background-color 0.5s;
  cursor: pointer;
  border: solid 1px #A5DEE4;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn_white:hover {
  color: #f5f5f5;
  background-color: #1E88A8;
  border: solid 1px #1E88A8;
  box-shadow: 0 0 4px rgba(37, 83, 89, 0.5);
  border: none;
}

.card-act {
  height: 460px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(51, 51, 51, 0.4);
}
.card-act .image {
  height: 278px;
  overflow: hidden;
}
.card-act .act-info {
  padding: 20px 34px;
}
.card-act .act-info .act-txt {
  margin-top: 10px;
}
.card-act .act-info .act-txt h4 {
  font-size: 28px;
  color: #333;
}
.card-act .act-info .act-txt ul {
  display: flex;
  margin-top: 10px;
}
.card-act .act-info .act-txt ul li {
  width: 105px;
  height: 36px;
}
.card-act .act-info .act-txt ul li:nth-child(2) {
  border-left: 1.5px solid #333;
  border-right: 1.5px solid #333;
}
.card-act .act-info .act-txt ul li p {
  color: #333;
  line-height: 2;
  text-align: center;
}

.btn_group {
  margin: 0px auto;
  font-size: 0;
}
.btn_group button {
  display: inline-block;
  font-size: 16px;
  height: 43px;
}

.left {
  color: #1E88A8;
  background-color: #f5f5f5;
  transition: background-color 0.5s;
  cursor: pointer;
  border: solid 1px #1E88A8;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px 0 0 50px;
}

.right {
  border-radius: 0 50px 50px 0;
  color: #f5f5f5;
  background-color: #1E88A8;
  transition: background-color 0.5s;
  cursor: pointer;
  border: solid 1px #1E88A8;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-box {
  width: 350px;
  background-color: #F8F7EE;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(51, 51, 51, 0.8);
  margin-bottom: 70px;
  overflow: hidden;
}
.card-box .box-images {
  height: 280px;
}
.card-box .box-text {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-box .box-text h6 {
  margin-left: 15px;
  margin-right: 69px;
}
.card-box .box-text p {
  margin-right: 15px;
  margin-left: 5px;
}
.card-box .tag-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #9A83CC;
}

.ft-red {
  background-color: #E2A3A3;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 400;
  width: 91px;
  height: 27px;
}

.ft-green {
  background-color: #A3CC83;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 400;
  width: 91px;
  height: 27px;
}

.ft-purple {
  background-color: #9A83CC;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 400;
  width: 91px;
  height: 27px;
}

.ft-yellow {
  background-color: #F5CA4C;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 400;
  width: 91px;
  height: 27px;
}

.ft-blue {
  background-color: #61B7E7;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 400;
  width: 91px;
  height: 27px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f5f5f5;
  line-height: 1.2;
  font-size: 16px;
  color: #255359;
  font-weight: 400;
}
body h1 {
  font-size: 48px;
  font-weight: 700;
}
body h2 {
  font-size: 40px;
  font-weight: 700;
}
body h3 {
  font-size: 32px;
}
body h4 {
  font-size: 28px;
}
body h5 {
  font-size: 24px;
}
body h6 {
  font-size: 20px;
}
body p {
  font-size: 16px;
  line-height: 1.6;
}
body h1 {
  line-height: 1.2;
  font-size: 48px;
  color: #255359;
  font-weight: 700;
}
body h2 {
  line-height: 1.2;
  font-size: 40px;
  color: #255359;
  font-weight: 700;
}
body h3 {
  line-height: 1.2;
  font-size: 32px;
  color: #255359;
  font-weight: 400;
}
body h4 {
  line-height: 1.2;
  font-size: 28px;
  color: #1E88A8;
  font-weight: 400;
}
body h5 {
  line-height: 1.2;
  font-size: 24px;
  color: #1E88A8;
  font-weight: 400;
}
body h6 {
  line-height: 1.2;
  font-size: 20px;
  color: #255359;
  font-weight: 400;
}
body p {
  line-height: 1.2;
  font-size: 16px;
  color: #255359;
  font-weight: 400;
}
body .wrapper header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
body .wrapper header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #A5DEE4;
  align-items: center;
  box-sizing: border-box;
  padding: 2vw 18.75vw;
}
body .wrapper header .header_left, body .wrapper header .header_right {
  width: 33.33%;
  display: flex;
  align-items: center;
}
body .wrapper header .header_right {
  justify-content: end;
}
body .wrapper header .btn_white {
  color: #1E88A8;
  background-color: #f5f5f5;
  border-radius: 50px;
  transition: background-color 0.5s;
  cursor: pointer;
  border: solid 1px #A5DEE4;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
body .wrapper header .btn_white:hover {
  color: #f5f5f5;
  background-color: #1E88A8;
  border: solid 1px #1E88A8;
  box-shadow: 0 0 4px rgba(37, 83, 89, 0.5);
  border: none;
}
body .wrapper header .logo {
  width: 100px;
}
body .wrapper header .header_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .wrapper header .bar {
  color: #1E88A8;
  background-color: #f5f5f5;
  border-radius: 50px;
  transition: background-color 0.5s;
  cursor: pointer;
  border: solid 1px #A5DEE4;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
}
body .wrapper header .bar:hover {
  color: #f5f5f5;
  background-color: #1E88A8;
  border: solid 1px #1E88A8;
  box-shadow: 0 0 4px rgba(37, 83, 89, 0.5);
  border: none;
}
body .wrapper header .user {
  width: 100px;
  height: 32px;
  padding: 4px 20px;
}
body .wrapper header .user i {
  margin-right: 20px;
}
body .wrapper header .cart {
  line-height: 1.2;
  font-size: 16px;
  color: #1E88A8;
  font-weight: 400;
  transition: color 0.3s;
  margin-right: 20px;
}
body .wrapper header .cart:hover {
  color: #f5f5f5;
  text-shadow: 0 0 4px rgba(37, 83, 89, 0.5);
}
body .wrapper .header_cataPage {
  background-color: rgba(245, 245, 245, 0.7);
  width: 100%;
  padding: 0px 18.75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .wrapper .header_cataPage .cata_bg {
  flex: 2;
  margin-right: 80px;
}
body .wrapper .header_cataPage .cata_right {
  flex: 3;
}
body .wrapper .header_cataPage .pageLinks {
  padding: 20px 0;
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #1E88A8;
  display: flex;
  transition: all 0.5s;
}
body .wrapper .header_cataPage .pageLinks:hover {
  font-weight: 700;
}
body .wrapper .header_cataPage .pageLinks img {
  width: 16px;
}
body .wrapper .header_cataPage .food_theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body .wrapper .header_cataPage .food_item {
  margin-bottom: 20px;
  width: 160px;
  position: relative;
  opacity: 0.8;
  transition: 0.5s;
  border-radius: 20px;
}
body .wrapper .header_cataPage .food_item:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgba(37, 83, 89, 0.5);
}
body .wrapper .header_cataPage .food_item:hover p {
  text-shadow: 0 0 4px #255359;
}
body .wrapper .header_cataPage .food_item p {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: #f5f5f5;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 12px;
}
body .wrapper .header_cataPage .pageLinks_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body .wrapper-1200 {
  width: 1200px;
  margin: 0 auto;
}

.act-banner {
  background-image: url(../../images/activity-banner.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  margin-bottom: 50px;
}

.act-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  height: 100%;
  width: 100%;
}

.overlay {
  background-image: url(/images/login_bg.jpg);
  width: 800px;
  height: 450px;
  position: relative;
  margin: 5% auto;
  padding: 5px;
  border-radius: 10px;
}

.close-btn {
  float: right;
  font-size: 25px;
  margin-right: 20px;
  margin-top: 10px;
  color: #D9D9D9;
}

.box-banner {
  background-image: url(../../images/box/box_banner.jpg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.box-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.select-tag {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #1E88A8;
  padding-bottom: 25px;
  margin-bottom: 70px;
}

.box-tag {
  font-size: 24px;
}

.more {
  color: #f5f5f5;
  background-color: #1E88A8;
  border-radius: 50px;
  transition: background-color 0.5s;
  cursor: pointer;
  border: solid 1px #1E88A8;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  margin-bottom: 200px;
}
.more:hover {
  color: #1E88A8;
  background-color: #f5f5f5;
  border: solid 1px #1E88A8;
  box-shadow: 0 0 4px rgba(37, 83, 89, 0.5);
}

.box-info-wrapper {
  max-width: 792px;
  margin: 0 auto;
}

.steps {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1E88A8;
  padding-bottom: 25px;
  margin-bottom: 70px;
  margin-top: 50px;
}

.card {
  width: 100px;
  height: 100px;
}/*# sourceMappingURL=style.css.map */