body {
    font-family: $font-family;
    background-color: $backgroundColor;
    @include fontStyle($fontsize,$fontColor,400,1.2); 
   

.wrapper {
   @import './header';
   @import './footer';
   @import './backToTop';
}

}

h1{
  font-size:$h1;
  font-weight: $font-w-700;

}
h2{
  font-size:$h2;
  font-weight: $font-w-700;
}
h3{
 font-size:$h3;
 
}
h4{
 font-size:$h4 ;
}
h5{
 font-size:$h5;
}
h6{
 font-size:$h6;
}
p{
 font-size:$h7 ;
 line-height: 1.6;
}



.wrapper-t{
  max-width: $t;
  margin: 0 auto;

  @include p(){
    padding: 0 20px;
  }
}

