.wrapper_header {
    //*{outline: 1px red solid;}

    @include flex(column,start,space-between);
    //固定在最上面
    position:fixed;
    z-index: 40;
    width: 100%;
    top: 0;

    .nav{
        z-index: 2;
        @include flexCenter;
        @include size(100%,80px);
        background-color: $color_lightblue;
        align-items: center; 
        box-sizing: border-box;    
        padding: 0 $side_padding-360px;
        box-shadow: 0 1px 20px rgba($color_blue,.2); 
        @include m(){
            padding:  0 $side_padding-m;
        }
    }

    .header_left,.header_right{
        width: 33.33%;
        display: flex;
        align-items: center;
    }
    .header_right{
        justify-content: flex-end;
    }

    .btn_white{
        @include btn($color_blue,$white,$color_lightblue,$border-radius-50);
        border: none;
        &:hover{
            @include btn_hover($white,$color_blue,$color_blue);
            border: none;
        }
    }
    
    .logo{
        width: 100px;
        cursor: pointer;
    }
    .header_btn{
        @include flex;
    }
    
    .bar{
        @include btn($color_blue,$white,$color_lightblue,$border-radius-50);
        @include size(32px,32px,50%);
        border: none;
        @include flex(column,center,center);

        &:hover{
            @include btn_hover($white,$color_blue,$color_blue);
            border: none;
            .line{
                background-color: $white;
            }
        }

        .line {
            width: 14px;
            height: 1.5px;
            background-color: $color_blue;
            border-radius: 2px;
            margin: 1px 0;
            transition: all 0.5s;
        }
        

        //當顯示為X樣式
        &.-close {
            position: relative;
            .line {
              position: absolute;
            }
        }

    }
    
    .user{
        @include size(100px,32px);
        padding:4px 20px;
        transition:color .5s;
        i{
            margin-right: 20px;
            &:hover{
                @include font_shadow;
            } 
             
        }
        @include p(){
            padding: 0;
            background-color: transparent;
            @include size(initial,initial,0);
            
            &:hover{
                background-color: transparent;
                box-shadow: 0 0 0 rgba(#fff,0);
            }
            & h7{
                display: none;
            }
            i{
                margin: 0;
                
            }
        }
    }
    .logout{
        &.-none{
            display: none;
        }
    }
    
    .cart{
        @include fontStyle($h7,$color_blue);
        transition: color .3s;
        margin-right: 20px;   
        &:hover{
            color: $white;
            @include font_shadow;
        }   
    }  
}

.header_cataPage{
    overflow: auto;
    z-index: 1;
    background-color: rgba($white,.9);
    width: 100%;
    height: calc(100vh - 80px);
    box-shadow: 0 4px 4px rgba(#333,.2);
    padding: 0px $side_padding-360px;
    @include flex(row,space-evenly,center);
    transform: translateY(0vh);
    transition: 1.5s;

    @include m(){
        padding:  20px $side_padding-m;
    }

    &.-none{
        //預設隱藏，點擊bar才會展開
        transform: translateY(-200vh);
    }
   
    
    
    
    @include d(468px){
        padding: 0 0 80px;
    }

    .cata_bg{
        flex:2; 
        @include d(468px){
            position: absolute;
            bottom: 20px;
            width: 60vw;
            opacity:.3;
            z-index: 0;
        }      
            
    }
    .cata_right{
        flex:3;
        @include flex(column,space-between,start);
        @include d(468px){
            z-index: 5;
        }
    }
    .pageLinks_container{
        @include flex(row,space-between);
        flex-wrap: wrap;
    }
    .pageLinks{
        padding: 20px 8px;
        width: 45%;
        min-width: 144px;
        @include flex(row,space-between,center);
        color:$color_blue;
        transition:all .5s;
        &:hover{
            font-weight: 700;
            color:$color_lightblue;
        }
        //斷點 p(800px)
        @include p(){
            width: 100%;
            min-width: none;
            max-width: none;
            padding: 20px;
        }
        //428
        @include d(468px){
            padding: 20px $side_padding-360px;
            &:hover,&:active{
                box-shadow: inset 0 2px 2px rgba(#333,.3);
                background-color:rgba($color_blue,.8);
                color:$color_cream;
            }
        }
    }
    
    .food_theme{
        @include flex(row,space-between,start);
        flex-wrap: wrap;

        //800
        @include p(){
            display: none; 
        }
    }
    .food_item{
        margin-bottom: 20px;
        width: 30%;
        position: relative;
        opacity: 0.8;
        transition: .5s;
        border-radius: 16px;
        overflow: hidden;
        &:hover{
            opacity:1;
            box-shadow: 0 0 10px rgba($color_darkblue,.5);
            
            & p{
                text-shadow: 0 0 4px rgba($color_darkblue,1);
            }
        }
        p{
            position: absolute;
            bottom: 0px;
            left:50%;
            transform: translateX(-50%);
            color: $white;
            @include size(100%,20%);
            @include flex;
            letter-spacing: 12px;
        }
    }
    
    


    


}


