<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./images/logo_icon.ico">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>HAKO:盒子</title>
</head>

@@include('./layout/login_top.html')


<body onload="init()">
  @@include('./layout/loading.html')
  @@include('./layout/login.html')
  <div class="wrapper boxPage">
    @@include('layout/header.html')
    <div class="container">
      @@include('./layout/backToTop.html')
      <div id="my_app" class="box-container">
        <div class="box-banner"></div>

        <!-- modify ref -->
        <section class="box-title">
          <h4>訂購盒子</h4>
          <div class="select-tag2">

            <div class="box-tag-m"  :class="{onTag: currentTag === '西式料理' }" @click="show('西式料理')">西式料理</div>

            <div class="box-tag-m" :class="{onTag: currentTag === '中式料理'}" @click="show('中式料理')">中式料理</div>

            <div class="box-tag-m" :class="{onTag: currentTag === '日式料理'}" @click="show('日式料理')">日式料理</div>

            <div class="box-tag-m" :class="{onTag: currentTag === '健康料理'}" @click="show('健康料理')">健康料理</div>

            <div class="box-tag-m":class="{onTag: currentTag === '快速料理'}" @click="show('快速料理')">
              快速料理</div>
            </div>
        </section>

        <section class="box-wrapper">
          <a :href="'box_info.html?id='+item.id" class="card-box " v-for="(item, index) in items" :key="item.name"
            v-show="index < displayedItems">
            <div class="image">
              <img :src="item.img" alt="">
            </div>
            <div class="box-text">
              <h6>{{item.name}}</h6>
              <div class="tag-group">
               
                <div class="time-icon">
                  <i class="fa-solid fa-clock"></i>
                  <p>{{ item.time }}</p>
                </div>
              </div>



            </div>
          </a>
        </section>
        <button id="load-more" class="more" v-if="displayedItems < items.length" @click="loadMoreItems()">載入更多</button>
      </div>
    </div>
    @@include('./layout/footer.html')
  </div>


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/vue.global.js"></script>
  <!-- <script src="./js/vue.global.prod.js"></script> -->
  <script src="js/header.js"></script>
  <script src="js/login.js"></script>
  <script src="js/box.js"></script>
</body>

</html>