<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logo_icon.ico">

    <title>Shoppingcart</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>


<body onload="init()">

    <!--------------------------------上排付款流程 -->
    @@include('./layout/login.html')
    <div class="wrapper shopping">
        @@include('./layout/header.html')
        @@include('./layout/backToTop.html')
        <div id="cart" class="container">

            <ul class="process">
                <li class="process_circle cart_item">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h7 class="process-text">購物車</h7>
                </li>
                <li class="line"></li>

                <li class="process_circle pay">
                    <i class="fa-regular fa-credit-card"></i>
                    <h7 class="process-text">付款方式</h7>
                </li>
                <li class="line"></li>

                <li class="process_circle success">
                    <i class="fa-solid fa-check"></i>
                    <h7 class="process-text">付款成功</h7>
                </li>
            </ul>

            <!----------------------購物車列表文字-->

            <div class="shoppingcart-list">
                <div class="item-img">
                    <h6>商品圖片</h6>
                </div>
                <div class="item-title">
                    <h6>訂購商品</h6>
                </div>
                <div class="item-price">
                    <h6>單價</h6>
                </div>
                <div class="item-quantity">
                    <h6>數量</h6>
                </div>
                <div class="item-amount">
                    <h6>金額</h6>
                </div>
                <div class="item-delete"></div>
            </div>

<!-- //=================================================== -->
            <!--------------------商品卡片-->
            <div class="shopping-theme box">
                <h6 class="shopping-theme-text">我訂購的盒子</h6>

                <p v-if="box == ''" class="no-product">目前沒有盒子商品</p>

                <ul>
                    <li v-for="(item,index) in box" :key="item.id" class="shoppingcart-item">
                        <div class="item-img">
                            <img :src="'./images/box-info/' + item.img" alt="">
                        </div>


                        <div class="item-title">
                            <div class="item-theme ft-red">盒子</div>
                            <h6 class="item-title-text">{{ item.name }}</h6>
                        </div>
                        <div class="item-price">
                            <h6 class="price">${{item.price }}</h6>
                        </div>
                        <div class="item-quantity">
                            <div class="btn-number-shopping">
                                <div class="b-n-shopping b-sub-shopping " @click="subNumberBox(index), RemoveBox(index,e)"></div>
                                <input class="quantity-num" type="text" v-model="item.quantity">
                                <div class="b-n-shopping b-add-shopping " @click="addNumberBox(index)"></div>
                            </div>
                        </div>
                        <div class="item-amount">
                            <h6 class="amount">${{item.total}}</h6>
                        </div>
                        <div class="item-delete">
                            <i class="fa-solid fa-trash-can" @click="taskRemoveBox(index,e)"></i>
                        </div>

                    </li>
                </ul>
            </div>
            <!-------------------------------------------訂購活動-->
            <div class="shopping-theme activity">
                <h6 class="shopping-theme-text">訂購活動</h6>

                <p v-if="activity == ''" class="no-product">目前沒有活動商品</p>

                <ul>
                    <li v-for="(item,index) in activity" :key="item.id" class="shoppingcart-item">
                        <div class="item-img">
                            <img :src="'./images/activity/' + item.img" alt="">
                        </div>


                        <div class="item-title">
                            <div class="item-theme ft-purple">活動</div>
                            <h6 class="item-title-text">{{item.name}}</h6>
                        </div>
                        <div class="item-price">
                            <h6 class="price">${{item.price}}</h6>
                        </div>
                        <div class="item-quantity">
                            <div class="btn-number-shopping">
                                <div class="b-n-shopping b-sub-shopping" @click="subNumberAct(index), RemoveAct(index,e)"></div>
                                <input class="quantity-num col-6" type="text" v-model="item.quantity">
                                <div class="b-n-shopping b-add-shopping" @click="addNumberAct(index)"></div>
                            </div>
                        </div>
                        <div class="item-amount">
                            <h6 class="amount">${{item.total}}</h6>
                        </div>
                        <div class="item-delete">
                            <i class="fa-solid fa-trash-can" @click="taskRemoveAct(index,e)"></i>
                        </div>

                    </li>
                </ul>
            </div>
<!-- //=================================================== -->
            <!-- 總計 -->
            <div class="item-total">
                <h5 class="total">總計 : {{ totalPrice }}</h5>
                <div class="item-button">
                    <a href="./box_info.html" class="shoppingcart-prev"><button class="btn_white prev">繼續購物</button></a>
                    <div id="goToPay" ><button class="btn_white next">下一步</button></div>
                </div>
            </div>
        </div>
        @@include('./layout/footer.html')
    </div>
    <!-------------------------------------------footer-->
    <script src="./js//vue.global.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/login.js"></script>
    <script src="./js/is.min.js"></script>
    <script src="./js/shoppingcart.js"></script>
    
</body>

</html>