<footer class="footer">
    <div class="footer_content">
        <div class="image footer_logo">
            <img src="./images/footer_logo.svg" alt="">
        </div>
        <div class="topText">
            <div class="line"></div>
            <a class='toTop_text'id="toTop_text" href="#">
                <p>Back to Top</p>
            </a>
            <div class="line"></div>
        </div>

        <ul class="footer_links">
            <div class="footer_left">
                <li class="footer_link"><a href="../aboutus.html">關於我們</a></li>
                <li class="footer_link"><a href="../FAQ.html">常見問題</a></li>
                <li class="footer_link"><a>會員登入</a></li>
            </div>
            <div class="footer_middle">
                <a class="media_link" href='https://about.twitter.com/en'  target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="media_link" href='https://zh-tw.facebook.com/'  target="_blank">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a class="media_link" href='https://www.instagram.com/'  target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <div class="footer_right">
                <li class="footer_link"><a href="../box.html">訂購盒子</a></li>
                <li class="footer_link"><a href="../activity.html">近期活動</a></li>
                <li class="footer_link"><a href="../member.html">會員中心</a></li>
            </div>

        </ul>
    </div>

    <div class="remind">
        <p>本網站為緯育TibaMe【第85期】前端工程師專業技術養成班學員作品,僅供學習、展示之用途。</p>
    </div>

</footer>