<header class="wrapper_header">
    
    <nav class="nav">
        <div class="header_left">
            <button class='btn_white bar' id="bar">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div>
        
        
        <a href="./index.html">
            <div class="image logo">
                <img src="./images/header_logo.svg" alt="">
            </div>
        </a>
        
        <div class="header_right">
        
            <div class="header_btn">
                <!-- 要抽換購物車href頁面 -->
                <a  class="cart" href='./shoppingcart.html'>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="quantity_cart" id="cartNum">0</span>
                </a>

                <div class="btn_membercenter">
                    <a class="center" href='./member.html'>
                        <i class="fa-solid fa-house-chimney-user"></i>
                    </a>
                </div>
                
            
        <!-- 8/26測試********************************************* -->
                <div class="btn_white user login -none" id="user_login">
                    <div id="showMember"></div>
                    <!-- <i class="fa-solid fa-user"></i>
                    <span>登入</span> -->
                </div>

                    <!-- <div class="btn_white user logout -none" id="user_logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span>登出</span>
                </div> -->
            </div>
           
            
        </div>
    </nav>
    <!-- 預設隱藏 -->
    <div class="header_cataPage -none" id="header_cataPage">
        <div class="image cata_bg">
            <img src="./images/header_cata_box.png" alt="">
        </div>
        <div class="cata_right">
            <a class="pageLinks" href='./box.html'>
                <h6>預定盒子</h6>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <div class="food_theme">
                <a class="image food_item western" href="./box.html?currentTag=西式料理">
                    <img src="./images/header_cata_food1.png" alt="">
                    <p>西式</p>
                </a>
                <a class="image food_item Chinese" href="./box.html?currentTag=中式料理"> 
                    <img src="./images/header_cata_food2.png" alt="">
                    <p>中式</p>
                </a>
                <a class="image food_item Japanese" href="./box.html?currentTag=日式料理">
                    <img src="./images/header_cata_food3.png" alt="">
                    <p>日式</p>
                </a>
            </div>
            <div class="pageLinks_container">
                <a class="pageLinks" href='./activity.html'>
                    <h6>近期活動</h6>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <a class="pageLinks" href='./aboutus.html'>
                    <h6>關於我們</h6>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <a class="pageLinks" href='./FAQ.html'>
                    <h6>FAQ</h6>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <a class="pageLinks" href='./index.html'>
                    <h6>造訪首頁</h6>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <a class="pageLinks" id="memberCenter" href='./member.html'>
                    <h6>會員中心</h6>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </div>

        </div>
    </div>

    
</header>