<header class="wrapper_header">
    
    <nav class="nav">
        <div class="header_left">
            <button class='btn_white bar' id="bar">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div>
        
        
        <a href="./index.html">
            <div class="image logo">
                <img src="./images/header_logo.svg" alt="">
            </div>
        </a>
        
        <div class="header_right">
        
            <div class="header_btn">
                <!-- 要抽換購物車href頁面 -->
                <a  class="cart" href='../shoppingcart.html'>
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                
                <div class="btn_white user" id="user">
                    <i class="fa-solid fa-user"></i>
                    <h7>登入</h7>
                </div>
                
            </div>

        </div>
    </nav>
    <!-- 預設隱藏 -->
    <div class="header_cataPage -none" id="header_cataPage">
        <div class="image cata_bg">
            <img src="./images/header_cata_box.png" alt="">
        </div>
        <div class="cata_right">
            <a class="pageLinks" href='../box.html'>
                <h4>預定盒子</h4>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <div class="food_theme">
                <a class="image food_item western" href=#>
                    <img src="./images/header_cata_food1.png" alt="">
                    <p>西式</p>
                </a>
                <a class="image food_item Chinese" href=#> 
                    <img src="./images/header_cata_food2.png" alt="">
                    <p>中式</p>
                </a>
                <a class="image food_item Japanese" href=#>
                    <img src="./images/header_cata_food3.png" alt="">
                    <p>日式</p>
                </a>
            </div>
            <div class="pageLinks_container">
                <a class="pageLinks" href='../activity.html'>
                    <h4>近期活動</h4>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <a class="pageLinks" href='../aboutus.html'>
                    <h4>關於我們</h4>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <a class="pageLinks" href='../FAQ.html'>
                    <h4>FAQ</h4>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <a class="pageLinks" href='../index.html'>
                    <h4>造訪首頁</h4>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <a class="pageLinks" href='../member.html'>
                    <h4>會員中心</h4>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </div>

        </div>
    </div>
</header>