
    <div class="container-load">
        <div class="gif">
            <img src="../images/loading.gif" alt="">
        </div>
    </div>



    <script>
        document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                  ".container").style.visibility = "hidden";
                document.querySelector(
                  ".container-load").style.visibility = "visible";
            } else {
                document.querySelector(
                  ".container-load").style.display = "none";
                document.querySelector(
                  ".container").style.visibility = "visible";
            }
        };

    </script>
