<script>
    function init(){
  
        showMember();
        }
        
        function showMember(){
      $.ajax({            
          method: "POST",
          url: "API/Frontend/Member.php",
          data:{},            
          dataType: "text",
          success: function (response) { 
            //   const r = JSON.parse(response) 

              // console.log(response.login);
            
  
            //   $("#showMember").html(r.text); 
  
              if(response == true){
                
                $("#showMember").html("<a href='API/Frontend/Logout.php'>" +
                                        "<div class='btn_white user logout -none' id='user_logout'>" +
                                            "<i class='fa-solid fa-arrow-right-from-bracket'></i>" +
                                            "<span>登出</span>" +
                                            "</div>" +
                                        "</a>"
                                        )
                $('#memberCenter').show();
              }else{
                $("#showMember").html("<div class='btn_white user login -none' id='user_login'>" +
                                            "<i class='fa-solid fa-user'></i>" +
                                            "<span>登入</span>" +
                                         "</div>"
                                        )
                $('#memberCenter').hide();

              }
              
          },
          error: function(exception) {
              alert("數據載入失敗: " + exception.status);
          }
      });
    }
  
  </script>