.aboutusContainer{
//請在.aboutusContainer裡面寫SCSS或CSS
// *{outline: solid 1px red;}



// Section 1

.sectionOne{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-image: url(../../images/aboutus/aboutus_pic01.png);
    @include p(){
        background-position: top center;
    }
}

//左邊內容

.leftContent{
    margin-top: 260px;
    background-color: #fff;
    // flex-direction: row;
    width: 100%;
    height: 50%;
    border-radius: 0 230px 0 0;
    display: flex;

    h1{
        margin-top: 5%;
        text-align: center;
        
        @include p(){
            color: $white;
        }
    }

    h4{
        margin-top: 20px;
        // font-size: 32px;
        text-align: center;
        line-height: 150%;
        color: #1E88A8;

        @include p(){
            color: $white;
            font-size: 29px;
        }
    }
    
    @include p(){
        // margin-top: 115px;
        background-color: transparent;
        flex-direction: column;
    }
}

.text_button_wrapper{
    margin: 0 auto;
    margin: 10% 0 10% 20%;

    @include p(){
        margin: 9% auto;
    }
}

.btn_transparent{
    margin: 0 auto;
    margin-top: 20px;
    

    
}

.image_wrapper{
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 10%;
    text-align: center;

    @include p(){
        margin: 5% auto;
    }
}

.aboutus_box{
    float: right;
    max-width: 80%;
    max-height: 80%;
    
    @include p(){
        float: none;
        display: inline-block;
        text-align: center;
    }
}

//右邊內容

.rightContent{
    margin-bottom: 6%;
    width: 60%;
    height: 100%;
    
    @include p(){
        display: none;
    }
}


.rightContent p{
    color: white;
    // font-size: 16px;
    padding-left: 30px;
    padding-right: 140px;
    padding-bottom: 10px;
    padding-top: 120px;
    
    @include p(){
        display: none;
    }

}


// Section 2

.sectionTwo{
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url(../../images/aboutus/section2_bgPic.png);
}

.sectionTwo h1{
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 10px;
}


.offers_wrapper ul{
    display: flex;
    justify-content: center;

    @include p(){
        display: block;
    }

}

.offers_wrapper li{
    text-align: center;
    margin-top: 30px;
    width: 20%;
    padding: 60px;

    @include p (){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 35px;
    margin-top: 0;
    }
}

.offers_wrapper li img{
    margin: auto;
}

.offers_wrapper h3{
    margin-bottom: 30px;
    margin-top: 30px;
    color: #1E88A8;

    @include p(){
        margin: 0;
    }
}

.offers_wrapper p{
}


//轉場 transition

.transition{
    position: relative;
    width: 100%;
    height: 600px; //可再調整數值成比例
    display: flex;
    justify-content: center;
    align-items: center;
}



.transition .box_explode{
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 2;
}


// 文字輪播
@keyframes slide{
    0% { left: -10px; }
    100% { left: -100%; }     
}

    .bg_animattion{  
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;   

        font-weight: 700;
        font-size: 200px;
        line-height: 1;
        white-space:nowrap;


    div{
        display: block;
        width: 200%;
        height: 200px;
        position: absolute;
        overflow: hidden;
        left: 0;
        animation: slide 12s linear infinite both;  
    }

    span{ 
        margin-right: 50px;
        color:#ECE9D7;
        width: 50%;


        @include d(468px){
            font-size: 160px;
        }

    }   
    
}

// Section 3

.sectionThree{
    margin-top: 180px;
    @include p(){
        display: none;
    }
}

.sectionThree h2{
    text-align: center;
    margin-bottom: 20px;
}

.moreThanBox_wrapper{
}

.moreThanBox_wrapper ul{
    display: flex;
    justify-content: space-evenly;
}

.moreThanBox_wrapper li{
    margin-top: 40px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border: 1px solid #A5DEE4;
    border-bottom: 12px solid #A5DEE4;
    background: #F8F7EE;
    width: 282px;
}

.moreThanBox_wrapper h3{
    background-color: #1E88A8;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.moreThanBox_wrapper hr{
    border-top: 1px solid #1E88A8;
    width: 228px;
    text-align: center;
}

.moreThanBox_wrapper h2{
    font-size: 28px;
    color: #1E88A8;
    font-weight: 400;

}

.moreThanBox_wrapper img{
}

.moreThanBox_wrapper p{
    text-align: left;
    padding: 40px;
}

// Section 4

.sectionFour h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
}

.dot-title{
    display: flex;
    align-items: center;
    
}


.sectionFour li{
    padding: 60px;
    h3{
        display: inline-block;
        line-height: 2;
    }
    @include p(){

        padding:27px
    }

}

.sectionFour h3{
    // margin-bottom: 20px;
    color: #1E88A8;
    font-weight: bold;

}

.dot{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color_orange;
    margin-right: 10px;
}

.sectionFour_one{
    background-color: #fff;
    width: 35%;
    border-radius: 20px;
    min-height: 245px;
    margin-left: 20%;
    
    @include p(){
        width: 60%;
        padding:45px;
        height: 200px;
        margin-left: 5%;

    }
}

.sectionFour_two{
    background-color: #fff;
    width: 35%;
    border-radius: 20px;
    min-height: 238px;
    margin-left: 40%;

    @include p(){
        width: 60%;
        margin-left: 35%;
        padding:25px;

    }
}

.sectionFour_three{
    background-color: #fff;
    width: 35%;
    border-radius: 20px;
    min-height: 215px;
    margin-left: 30%;

    @include p(){
        width: 60%;
        margin-left: 20%;
        padding:45px;
        // min-height:215px;
        margin-left: 5%;

    }
}

.background_pic01{
    // min-height: 245px;
    background-image: url(../../images/aboutus/sectionFour_pic01.jpg);
   
    @include p(){
        height: 200px;
     
     }
}

.background_pic02{
    // min-height: 238px;
    background-image: url(../../images/aboutus/sectionFour_pic02.jpg);
}

.background_pic03{
    // min-height: 372px;
    background-image: url(../../images/aboutus/sectionFour_pic03.jpg);
    @include p(){
        // height: 215px;
     
     }
}

.btn_transparent{
    @include btn($color_blue,rgba($white,.2),$color_blue,$border-radius-50);
    width: 100%;
    padding: 8px 20px;
    font-weight: 700;
    transition:.5s;
    &:hover{
        @include btn_hover($white,$color_blue,$color_blue);
        font-weight: 700;
        opacity:0.8;
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 4px rgba(#333,.2);
    }

    @include p(){
    //    display: none;
    
    }

}


// Section 5 //

.sectionFive{
    background-repeat: no-repeat;
    overflow: hidden;
    padding-bottom: 50px;
    background-image: url(../../images/aboutus/sectionFive_bgPic.png);
}

.sectionFive h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
    position: relative;

    @include p(){
    font-size: 35px;

    }
}

.sectionFive_content{
    display: flex;

    li{
        @include p(){
            margin: 15px auto;
        }
    }
}

.sectionFive h1:before{
    content: "";
    display: block;
    width: 282px;
    height: 1px;
    background: #10346C;
    top: 50%;
    left: 78px;
    position: absolute;

    @include p(){
        display: none;
    }
}

.sectionFive h1:after{
    content: "";
    display: block;
    width: 282px;
    height: 1px;
    background: #10346C;
    right: 0;
    top: 50%;
    right: 78px;
    position: absolute;
   
    @include p(){
        display: none;
    }
}

.sectionFive_icon{
    margin-right: 20px;
    margin-left: 20%;

    @include p(){
    margin-left: 6%;

    }
}

.sectionFive_content01{
    padding: 30px 0;
}

.sectionFive_content02{
    padding: 30px 0;
}

.sectionFive_content03{
    padding: 30px 0;
}

.sectionFive ul{

}

.sectionFive li{
    display: flex;
    margin-right: 40px;
    padding: 30px;

    @include p(){
        padding: 0;
    }

}


.sectionFive h3{
    margin-bottom: 10px;
    color: #1E88A8;
    font-weight: bold;
    font-size: 28px;

}

.rightPicture{
    border-radius: 20px;
    margin-right: 10%;
    
    @include p(){
        display: none;
    }
}

.rightPicture img{
    width: 90%;
    height: 90%;
    margin-top: 60px;
}


}