
.aboutus{
    *{outline: solid 1px red;}

    .container{
        margin-top: 80px;
        width: 100%;
    }
    // Section 1----------------------------------------
    .sectionOne{
        position: relative;
        width: 100%;
        @include flex(row,flex-end,center);
        // background-image: url(/thd102/g1/images/aboutus/aboutus_pic01.png);
        background-image: url(../../images/aboutus/aboutus_pic01.png);
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
           
        @include d(550px){
            padding-top: 100px;
        }
        //左邊內容
        .leftContent{
            width: 60%;
            position: absolute;
            background-color: $white;
            left: 0;
            bottom: 0;
            padding: 80px 40px 100px 19vw ;
            border-radius: 0 180px 0 0;
            @include flex(row,space-between,center);
            text-align: center;

            @include d(980px){
                background-color: transparent;
            }  
            @include d(550px){
                width: 100%;
                padding-bottom: 40px;
            }
            
        }

        .text_button_wrapper{  
            margin-right: 20px;
            text-align: center;
            font-weight: 700;
            @include d(550px){
                width: 100%;
                margin: 0;
            }
            h3{
                margin-bottom: 20px;
                @include d(980px){
                    white-space:nowrap;
                    color:$white;
                    text-shadow: 0 0 10px rgba(#333,.5);
                }
                @include d(550px){
                    font-size: 42px;
                }
            }
            h6{
                color:$color_blue;
                line-height: 1.6;
                @include d(980px){
                    color:$white;
                    text-shadow: 0 0 20px rgba(#333,.5);
                }
                @include d(550px){
                    font-size: 28px;
                }
            }
        }

        .btn_transparent{
            margin: 0 auto;
            margin-top: 20px; 
            @include d(980px){
                background-color: rgba($white,.8);
            }
            
            &:hover{
                @include d(550px){
                    background-color: $color_blue;
                    opacity: 1;
                    color: $white;
                } 
            }
            
        }
        //盒子動畫
        .aboutus_box{
            width: 14.6vw;
            min-width: 180px;
            position: relative;

            @include d(980px){
            display: none;
            }

            .mark{ //驚嘆號
                position: absolute;
                width: 10%;
                left: 60%;
                top: 0;
                z-index: 2;
                transform: scale(0.8);
            }
            .mark2{
                position: absolute;
                width: 70%;
                left: 24%;
                top: 20%;
                z-index: 2;
            }
            .box{
                
            }
            
        }

        //右邊內容
        .rightContent{
            margin-top: 18vw;
            margin-bottom: 100px;
            padding-right: $side_padding-360px;
            width: 36%;
            @include d(550px){
                width: 100%;
                padding: 20vw  $side_padding-360px 0;
            }
            

            p{
                color: $white;
                font-size: 14px; 
                margin-top: 20px; 
                @include d(980px){
                    margin: 0;
                }
                @include d(550px){
                    display: none;
                }
            }
            
            .drop{
                @include d(980px){
                    display: none;
                }
            }
            
        }
    }
    // Section 2-------------------------------------
    .sectionTwo{
        position: relative;
        width: 100%;
        padding: 80px $side_padding-360px;
        background-color: $white;
   

        background-image: url(../../images//aboutus/section2_bgPic.png);
        // background-image: url(/thd102/g1/images/aboutus/section2_bgPic.png);
        background-repeat: no-repeat;
        background-size: contain;

        transform: scale(0.8);
            
        @include flex(column);

        @include m(){
            padding: 80px $side_padding-m;
        }

      
        h3{
            margin-bottom: 40px;
            font-weight: 600;
            z-index: 2;
        }
    }


    .offers_wrapper {
        @include flex(row,space-between,flex-start);

        @include p(){
            display: block;
        }
        li{
            width: 20%;
            @include p(){
               width: 100%; 
               @include flex(row,space-between,center);
            }
            h5{
                text-align: center;
                color: $color_blue;
                margin: 16px 0 24px;
                white-space:nowrap;
            }
            p{
                font-size: 14px;
            }
            .image{
                position: relative;
                transform: scale(0.8);
                
                @include p(){
                    width: 30%;
                    min-width: 132px;
                }

                .photo{
                    transition: .5s;
                    transform: scale(0.9);
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .photo_bg{
                    position: absolute;
                }
                &.img_chef{
                    .photo_bg{
                        bottom: -6px;
                        left: 10px;
                    }
                }
                &.img_ingredient{
                    .photo_bg{
                        right: 5px;
                        bottom: 2px;
                    }
                }
                &.img_packaging{
                    .photo_bg{
                        right: 6px;
                        bottom: 6px;
                    }
                }
                &.img_gift{
                    .photo_bg{
                        left: 6px;
                        bottom: 6px;
                        
                    }
                }

            }
            .offers_text{
                @include p(){
                    margin-left: 20px;
                    @include flex(column,space-between,flex-start);
                }
            }
            
        }
    }

    //轉場 transition-----------------------------------

    .transition{
        position: relative;
        width: 100%;
        @include flex;
        background-color:$white;
        margin-top: 160px;

        @include d(800px){
            margin-top: 40px;
        }
        

        .box_explode{ 
            width: 20vw;
            z-index: 2;

            .image{
                position: relative;
            }
            .cata_box_food{
                position: absolute;
                bottom: 0;
                transform: scale(.3) translateY(50px);
                
            }
            .cata_box_food_bg{

            }
        }    
    }

    // 文字輪播
    @keyframes slide{
        0% { left: -10px; }
        100% { left: -100%; }     
    }
    .bg_animattion{  
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;   
        font-weight: 700;
        font-size: 200px;
        line-height: 1;
        white-space:nowrap;
        @include p(){
            bottom: -132px;
        }

    div{
        display: block;
        width: 200%;
        height: 200px;
        position: absolute;
        overflow: hidden;
        left: 0;
        animation: slide 12s linear infinite both;  
    }

    span{ 
        margin-right: 50px;
        color:#ECE9D7;
        width: 50%;
        @include d(468px){
            font-size: 160px;
        }
    }   
        
    }

    // Section 3-------------------------------------------

    .sectionThree{
        padding: 80px $side_padding-360px;
        @include p(){
            display: none;
        }
        h3{
            font-weight: 600;
            text-align: center;
            margin-bottom: 40px;
        }
        
        .moreThanBox_wrapper {
            @include flex(row,space-between,stretch);
            li{
                border-radius: 20px 20px 0 0;
                overflow: hidden;
                border: 1px solid #A5DEE4;
                border-bottom: 12px solid #A5DEE4;
                background-color: $color_cream;
                width: 30%;
            }
            .title_sm{
                text-align: center;
                background-color: $color_blue;
                color: $white;
                padding: 8px;
                @include t(){
                    font-size: 16px;
                }
            }
            .title_sm_2{
                white-space:nowrap;
                text-align: center;
                color: $color_blue;
                font-weight: 600;
                padding: 12px;
                border-bottom: solid 1px $color_blue;
                @include t(){
                    font-size: 16px;
                }
            }

            p{
                font-size: 14px;
                padding:20px;
                flex-grow: 1;
                @include t(){
                    display: none;
                }
                
            }
        }

    }


    // Section 4--------------------------------------------
    .sectionFour{
        margin-top: 80px;
        position: relative;
        padding-top: 80px;
        width: 100%;
        h3{
            position: absolute;
            width: 100%;
            top: 0;
            text-align: center;            
            margin-bottom: 40px;
            color: $color_darkblue;
            font-weight: 600;
            z-index: 10;
        }
        

        .dot-title{ 
            @include flex(row,flex-start);
            margin-bottom: 24px;
            h5{
                margin-bottom: 0;
                color:$color_blue;
                font-weight: 600;
            }
            .dot{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 20px;
                background-color: $color_orange;
            }
            
        }
        
    } 
    .section_block{
        padding: 0 $side_padding-360px;
        background-repeat: no-repeat;
        background-size: cover;
        
        @include m(){
            padding: 0 $side_padding-m;
        }
        li{
            background-color:rgba($white,.9);
            box-shadow: 0 0 20px rgba(#333,.2);
            width: 320px;
            border-radius: 20px;
            padding: 40px;
            @include d(550px){
               width: 100%;
            }
        }
        &.support{
            // background-image: url(/thd102/g1/images/aboutus/sectionFour_pic01.jpg);
            background-image: url(../../images/aboutus/sectionFour_pic01.jpg);
        }
        &.quality{
            // background-image: url(/thd102/g1/images/aboutus/sectionFour_pic02.jpg);
            background-image: url(../../images/aboutus/sectionFour_pic02.jpg);
        }
        &.spirit{
            // background-image: url(/thd102/g1/images/aboutus/sectionFour_pic03.jpg);
            background-image: url(../../images/aboutus/sectionFour_pic03.jpg);
        }
        p{
            font-size: 14px;
        }
        .btns{
            @include flex(row, space-between,center);
            @include d(550px){
                width: 100%;
                @include flex(column, space-between,center);
            }
        }
        .btn_transparent{
            @include btn($color_blue,rgba($white,.2),$color_blue,$border-radius-50);
            width: 48%;
            padding: 8px 20px;
            font-weight: 700;
            transition:.5s;
            font-size: 14px;
            margin:20px 0;

            @include d(550px){
                width: 100%;
                margin-top: 20px;
                margin-bottom: 0;   
            }
            &:hover{
                @include btn_hover($white,$color_blue,$color_blue);
                font-weight: 700;
                opacity:0.8;
                transform: translate(2px, 2px);
                box-shadow: 2px 2px 4px rgba(#333,.2);
            }
    
        }
    }
        

    // Section 5 ----------------------------------------

    .sectionFive{

        padding:  100px $side_padding-360px;
        margin-bottom: -40px;
        background-repeat: no-repeat;
        overflow: hidden;
        // background-image: url(/thd102/g1/images/aboutus/sectionFive_bgPic.png);
        background-image: url(../../images/aboutus/sectionFive_bgPic.png);
        background-size: cover;
        @include m(){
            padding:100px $side_padding-m ;
        }

        .sectionFive_title{
            text-align: center;
            color: $color_darkblue;
            font-weight: 600;
            padding: 40px 0 ;
            position: relative;

            &::after,&::before{
                position: absolute;
                content: "";
                display: block;
                background-color: $color_darkblue;
                width: 20%;
                height: 1px;
                top: 50%;
                @include d(990px){
                    display: none;
                }
            }
            &::before{
                left: 0;
            }
            &::after{
                right: 0;
            }

        }
    }

    .sectionFive_content{
        @include flex(row,space-between,center);
        .leftText{
            @include flex(column,space-between,flex-start);
            flex:6;
            margin-right: 20px;
            @include p() {
                margin-right: 0px;
            }

            .image{
                position: relative;
                width: 20%;
                .img_sm{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);

                }
            }
        }
        .reservation_info{
            @include flex(row,space-between);
            padding: 20px 0;
        }
        .circle{
            width: 6.25vw;
            height: 6.25vw;
            border-radius: 50%;
            background-color: #FFE0A5;
        }
        .info_text{
            width: 70%;
        }
        
        h6{
            font-weight: 600;
            color: $color_blue;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
        }


        .rightPicture{
            flex:4;
            border-radius: 20px;
            overflow: hidden;
            @include p() {
                display: none;
            }
            img{
                width: 100%;
            }
        }
    }
    .footer_content{
        @include m(){
            background-color: #fff;
        }
    }


    

    

}