.activity-det{
    .container{
        margin-top: 80px;
        padding-top: 20px;
        padding-bottom: 50px;

        @include p(){
            padding: 20px 20px 50px;
        }
    }

    
}

.flex-container-ad{
    display: flex;
    // justify-content: space-between;
    // align-items: flex-start;
    flex-wrap: wrap;

    @include m(){
        flex-direction: column-reverse;
    }
}
//左側
.left-desc{
    @include m(){
        margin-top: 20px;
    }   
    .act-d-img{
        // height: 502px;
        border-radius: 12px;
        overflow: hidden;

        @include m(){
            height: auto;
        }
    }
    .desc{
        hr{
            background-color: $color_darkblue;
            opacity: 50%;
        }
        
        h4{
            margin-top: 48px;
        }
        p{
            margin-top: 24px;
            // line-height: 2;
        }
    }
}

//資訊
.detail-info{
    padding-left: 24px;
    @include m(){
        // display: none;
        padding-left: 0;
    }
    
    // border: 1px solid red;
    .detail-info-box{
        position: sticky;
        top: 0;

        @include m(){
            position: static;
        }
        .tb-green{
           
            margin-bottom: 10px;
            
        }
        h1{
            margin-bottom: 32px;

            @include m(){
                margin-top: 10px;
            }
        }
        .detail-info-txt{
            display: flex;
            margin-bottom: 24px;
            i{
                font-size: $h5;
                margin-right: 10px;
            }
            h6{
                line-height: 1.5;
            }
        }

        .join{
            .join-txt{
                @include flex(row, space-between);
                margin-bottom: 10px;
                span{
                color: $color_grayblue;
                   }
            }
        }

        button{
            @include btn($white, $color_blue, $color_blue, 10px);
            @include size(100%, 35px);
           
            @include m(){
                margin: 16px auto;
            }
            
        }
    } 
}
