//左側
.left-desc{
    // border: 1px solid red;    
    .act-d-img{
        height: 502px;
        border-radius: 12px;
        overflow: hidden;
    }
    .desc{
        hr{
            background-color: $color_darkblue;
            opacity: 50%;
        }
        
        h4{
            margin-top: 48px;
        }
        p{
            margin-top: 24px;
            // line-height: 2;
        }
    }
}

//資訊
.detail-info{
    padding-left: 24px;
    
    // border: 1px solid red;
    .detail-info-box{
        position: sticky;
        top: 0;
        h1{
            margin-bottom: 32px;
        }
        .detail-info-txt{
            display: flex;
            margin-bottom: 24px;
            i{
                font-size: $h5;
                margin-right: 10px;
            }
    
        }
    }
    
}

.join{
    .join-txt{
       @include flex(row, space-between);
       margin-bottom: 10px;
       span{
        color: $color_grayblue;
       }
    }

    button{
        @include btn($white, $color_blue, $color_blue, 100px);
        @include size(180px, 43px);
    }
}