.act-banner{
    background-image: url(../../images/activity/activity-banner.jpg);
    @include size(100%, 300px);
    background-size: cover;
    margin-bottom: 50px;

    @include rwdGrid($m){
        height: 150px;
        background-position: top center;
        margin-bottom: 10px;
    }

}   

.act-title{
    text-align: center;
    margin-bottom: 40px;

    @include rwdGrid($m){
        margin: 30px 0;
    }
    
    
    h4{
        margin-bottom: 20px;
    }
}

.tags{
    margin: 0 auto;

    .tb-red, .tb-green, .tb-purple{
        cursor: pointer;
    }
    .tbredOn{
        background-color: $color_tag_red;
        color: $white;
    }
    .tbgreenOn{
        background-color: $color_tag_green;
        color: $white;
    }
    .tbpurpleOn{
        background-color: $color_tag_purple;
        color: $white;
    }
    
}

.act-cards{
    border: 1px solid red;
    margin: 0 auto;
}

.card-group{
    margin-bottom: 80px;
}


