.boxPage{
    .container{
        margin-top: 80px;
    }
.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // gap: 20px;
    grid-column-gap: 24px;
    grid-row-gap: 70px;
    // padding-bottom: 15px;
    padding: 15px;

    @include d(850px){
        grid-template-columns: 1fr 1fr;

    }
    @include d(1000px) {
        // grid-template-columns: 1fr 1fr;
    }

    @include d(550px) {
        grid-template-columns: 1fr;
       
    }

}



.box-banner {
    background-image: url(../../images/box/box_banner.jpg);
    background-size: cover;
    background-position: top center;
    @include size(100%, 300px);
    margin-bottom: 50px;
}

.box-wrapper {
    max-width: 1200px;
    // outline: 1px solid red;
    margin: 0 auto;
    margin-bottom: 50px;

    @include d(550px) {
        max-width: 375px;
        margin-bottom: 50px;
    }



}

.select-tag {
    width: 100%;
    @include flex(row, space-around, center);
    border-bottom: 1px solid $color_blue;
    padding-bottom: 25px;
    margin-bottom: 70px;
    .tag-green,.tag-purple, .tag-blue,.tag-yellow, .tag-red{
        position: relative;
    }
    
    .tag-green::before{
        @include tag_before($color_tag_green);
    }
    .tag-purple::before{
        @include tag_before($color_tag_purple);
    }
    .tag-blue::before{
        @include tag_before($color_tag_blue);
    }
    .tag-yellow::before{
        @include tag_before($color_tag_yellow);
    }
    .tag-red::before{
        @include tag_before($color_tag_red);
    }
    .box-tag{
        cursor: pointer;
        &:hover::before{
            width: 100%;
        }
    }
    // 點擊要加上的class
    .on{
        &::before{
            width: 100%;
        }
    }
    @include d(768px){
        display: none;
    }
}

.select-tag2 {

    display: none;
    
   @include d(768px){

       margin: 0 auto;
  
       display: flex;
       flex-wrap: wrap;
       gap: 15px;
       justify-content: center;
       margin-bottom: 50px;
   }

    @include m {
        gap: 10px;
       
      
    }
    .box-tag-m{
        cursor: pointer;
        width: 25%;
        @include m{
            width: 30%;
        }
        
    }
    .onGreen{
        @include btn_hover($white,$color_tag_green,$color_tag_green);
        box-shadow: none;
    }
    .onPurple{
        @include btn_hover($white,$color_tag_purple,$color_tag_purple);
        box-shadow: none;
    }
    .onBlue{
        @include btn_hover($white,$color_tag_blue,$color_tag_blue);
        box-shadow: none;
    }
    .onYellow{
        @include btn_hover($white,$color_tag_yellow,$color_tag_yellow);
        box-shadow: none;
    }
    .onRed{
        @include btn_hover($white,$color_tag_red,$color_tag_red);
        box-shadow: none;
    }

}

.box-tag {
    font-size: $h5;
}

.more {
    @include btn($white, $color_blue, $color_blue, 50px);
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 8px 0;
    margin-bottom: 200px;

    &:hover {
        @include btn_hover($color_blue, $white, $color_blue);
    }
}

}
