.box-banner{
    background-image: url(../../images/box/box_banner.jpg);
    background-size: cover;
    background-position: top center;
    @include size(100%, 300px);
    margin-bottom: 50px;
}
.select-tag{
    width: 100%;
    @include flex(row,space-around,center);
    border-bottom: 1px solid $color_blue;
    padding-bottom: 25px;
}
.box-text{
    @include flex(row,center,center);
}
.tag-color{
    @include size(16px,16px,50%);
    background-color: $color_tag_purple;

}