
html{
    scroll-behavior: smooth;  
}
.boxInfo{
    //*{outline: solid 1px red;}
    .container{
        margin-top: 80px;
        position: relative;
    }
    .info-top{
        display: none;
        @include d(820px){
            margin: 0 auto;
           display: block;
           .image{
            border-radius: 10px;
            overflow: hidden;
           }
        
        }
        @include m {
            .image{
                border-radius: 0;
            }
            width: 100%;
            
        }
    
    }
    .back{
        margin: 20px auto 80px;
    }
     //modify-----------------------------
     .select-tag{
        position: relative;
        z-index: 30;
        position: fixed;
        right: 0;
        bottom: 50vh;
        font-size: 12px;
        padding: 20px 5vw 20px 20px;
        border-radius: 16px 0 0 16px;
        @include flex(column);
        @include d(820px){
            background-color: $color_blue;
            transform: translateX(100px);
            transition: .5s;
            &.slideToggle{
                transform: translateX(10px);
            }
        }
        .slide{
            display: none;
            @include size(36px,36px);
            border-radius:50% ;
            position: absolute;
            left: 0;
            top: 50%;
            transform:translate(-70%,-50%);
            background-color: $white;
            border: solid 1px $color_blue;
            cursor: pointer;

            

            @include d(820px){
                display: block;
                
            }
            i{
                color:$color_blue;
                font-size: 12px;
            }
        }
        .select{
            padding: 4px;
            color:$gray;
            @include d(820px){
                color: #eee;
            }
            
            &.onTag{
                color: $color_blue;
                @include d(820px){
                    color: #fff;
                    font-weight: 700;
                }
            }
            &::after{
                content:" ";
                display:block; 
                width: 0%;
                height: 2px;
                background-color: $color_blue;
                transition: .4s .2s;
                margin-top: 4px;   
                @include d(820px){
                    background-color:  #fff;
                }
            }
            &:hover::after,&:active::after{
                width: 100%;
            }
            &.onTag::after{
                width: 100%;
            }
        }
    }
    //------------------------------------
    .box-info-wrapper {
        margin: 0 auto;
        width: 100%;
        padding: 0 $side_padding-360px;

        @include m{
            padding: 0 $side_padding-m;
        } 
    
        .buy {
            width: 100%;
            padding: 80px 0;
            //margin-bottom: 80px;
            @include flex(row, space-between, stretch);
            @include d(820px){
                flex-direction: column;
                align-items: center;
                //margin-bottom: 80px;
            }
             @include m {
                        font-size: $h5;
                    }
    
            .info-left {
                width: 48%;
                border-radius: 16px;
                overflow: hidden;
                @include flex;
                @include btn_shadow($black, .4);
                .image{
                    height: 120%;
                }
                @include d(820px){
                    display: none;
                    }
    
                .info-tags {
                    display: flex;
                    padding: 15px;
                    .info-tag{
                        margin-right: 8px;
                    }

                }
    
    
            }
            
    
            .info-right {
                width: 48%;
                @include d(820px){
                    margin-top: 45px;
                    width: inherit;
                    }
                .info-name{
                    margin-bottom: 10px;
                    @include flexCenter;
                   h2{
                    @include m {
                        font-size: $h5;
                    }
                   }
                    .r-price{
                        display: none;
                        margin-bottom: 0;
                        @include d(820px){
                            display: block;
                            }
                        @include m {
                                font-size: $h5;
                            }
                    }
                }
                .info-detail {
                    @include flexCenter;                    
                    width: 240px;
                    .icon-text {
                        @include flexCenter;
                        font-size: $h8;
                        
                        margin-bottom: 15px;
    
                        .fa-solid {
                            margin-right: 12px;
                        }
                        svg{
                            margin-right: 12px;
                        }
                    }
                    
                }
    
                .info-text {
                    letter-spacing: 0.6px;
                    margin-bottom: 15px;
                    @include d(820px){
                        letter-spacing: 0;
                        }
                    
                }
    
                .box-price {
                    color: $color_darkblue;
                    margin-bottom: 20px;
                    @include d(820px){
                        display: none;
                    }
                }
    
                .btn-group {
                    @include flex(row,space-between,center);
                    .btn-number{
                        width: 45%;
                    }
                    .b-buy {
                        height: 35px;
                        border-radius: 10px;
                        font-size: $h7;
                    }
    
                    .b-left {
                        @include btn($color_darkblue, $white, $color_darkblue);
                        &:hover{
                            @include btn_hover($white,$color_blue,$color_blue);
                        }
                    }
    
                    .b-right {
                        @include btn($white, $color_blue, $color_blue);
                        &:hover{
                            @include btn_hover($white,$color_blue,$color_blue);
                        }
                    }
                }
            }
    
            }
    
        .subTitle{
            padding: 10px 0;
            margin-bottom: 35px;
            @include m {
                font-size: $h6;

            }
        }
        .ingredients{
            width: 100%;
            padding-top: 80px;
            margin-bottom: 80px;
            @include flex(column,space-between,top);
            @include d(820px){
                margin-bottom: 60px;
                }
            .ingredients_info{
                @include flex(row,space-between);
            }
            .items{
                width: 50%;
                display: flex;
                flex-direction: column;
                @include d(820px){
                    width: 100%;
                    }
                li{
                    @include flex(row,space-between,top);
                    padding-bottom: 8px;
                margin-bottom: 22px;
                    @include d(820px){
                        border-bottom: 1px solid #d5d5d5;
                        }
                }
    
    
            }
            .image{
                width: 35%;
                overflow: hidden;
                border-radius: 15px;
                @include d(820px){
                    display: none;
                    }
            }
        }
        .steps{
            padding-top: 80px;
            margin-bottom: 120px;
            @include d(820px){
                margin-bottom: 90px;
                }
            li{
                @include flex(row,flex-start,top);
                margin-bottom: 30px;
                
    
                span{
                    @include size(30px,30px);  
                    background-color: $color_darkblue;
                    @include fontStyle($h6,$white,400,1.3);
                    text-align: center;
                    margin-right: 15px;
                }
                .step-text{
                    width: 90%;
                    h6{
                        margin-bottom: 8px;
                    }
                }
               
            }
        }
        .tips{
            width: 55%;
            margin: 80px auto;
            .tip-icon{
                padding: 20px;
              @include flex(row, center,top);
               i{
                font-size: 30px;
               } 
            }
            .tip-text{
                list-style:disc ;
                li{
                    margin-bottom: 20px;
                    font-size: $h7;
                    line-height: 1.6;
                }
            }
            @include d(820px){
                width: 80%;
            }
            @include m{
                width: 70%;
            }
        }
        .chef{
            padding-top: 40px;
            border-top : solid 1px #bbb;
        }
        .chef-title{
            padding-top: 30px;
        }
        .chef-info{
           @include flexCenter;
           padding-bottom: 40px;
           @include d(820px){
            flex-direction: column;
            }
    
           .image{
            width: 25%;
            border-radius:50%;
            @include d(820px){
                width: initial;
                margin-bottom: 20px;
                }
            @include m{
                width: 40%;
            }
           }
           .chef-name{
            width: 70%;
            
              h4{
                margin-bottom: 10px;
                @include m{
                    font-size: 24px;
                }
              }
              @include d(820px){
                width: 100%;
                h4{
                    text-align: center;
                    margin-bottom: 20px;
                }
                } 
           }
        }
        }
}

    
    
    
    

