.FAQ{
  .inside{
    margin-top: 80px;
  }
  .banner-faq{
    background-image:url(../../images/FAQ-banner.jpg);
    background-size: cover;
    background-position: top center;
    @include size(100%, 300px);
    margin-bottom: 50px;
  }
  .ContainerFAQ0{
 
      .tab_contentFAQ{
        /* border: 1px solid #A5DEE4; */
        padding: 10px;
        margin-top: 5px;
        width: 1200px;
        flex-wrap: wrap;
        justify-content: center;
      
      }
    
    
    .ContainerFAQ {
      max-width: 900px;
      background-color:$color_cream ;
      display: flex;
      flex-direction: column;
    
      align-items: center; 
      justify-content: center; 
      margin:20px auto;
      
    }
    
    
    .ContainerFAQ2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 50px;
      
    }
    
    
    .buttonFAQ {
      margin: 5px;  /* 設定按鈕間的間隔 */
     width: 185px;
     height: 85px;
     border-radius: 10px;
     font-size: 24px;
    // border: 1px solid #333;
    background-color: $color_lightblue;
    
    }
    .activeFAQ{
      background-color: #1E88A8;
      color: #f5f5f5;
  
    }
    
    
    .accordion{
    max-width: 900px;
    margin-bottom: 200px;
    } 
    
    .accordion-button:not(.collapsed){
          background-color: $color_warterblue;
          color:$color_darkblue;
    }
    
    @media screen and (max-width:768px){
      .ContainerFAQ2 {
        display: flex;
        margin:20px auto;
        width:100%;
        align-items: center;
      }
      
      .buttonFAQ {
        width:100%;
        font-size: 16px;
       border-radius: 10px;
      }

      .ContainerFAQ0{
        font-size: 16px;
      }
      
      
      }




    @media screen and (max-width:1199px){
      .accordion {
        width:100%;
        justify-content: center;
      }
      
      }
      
  


  
  
    
  
    
    
  
    
    
    }
}