// 首頁
.index{
    //*{outline: 1px solid red;}
    
    .container{
        @include flex(column,center,center);
        width: 100%;
    }
    .index_video{
        width: 100%;
        margin-top: 80px;
        font-size: 0;
        .missionBG02{
            width: 100%;
            &.video-p{
                @include d(500px){
                    display: none;
                }
            }
            &.video-m{
                display: none;
                @include d(500px){
                    display: block;
                }
            }
        }
        
    }
    
    .article1{
        overflow: hidden;
        padding-top: 80px;
        background-color: $color_cream;
        @include m(){
            padding-top:  40px ;
        }
    }
    .circlefont{
        padding: 0 30vw 18%;
        img{
            width: 100%;
        }
        @include p(){
            padding: 0 20vw 18%;
        }
    }
    .box_explode{  
        position: relative;
    }
    
    // 文字輪播
    @keyframes slide{
        0% { left: -10px; }
        100% { left: -100%; }     
    }

    .bg_animattion{  
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;   

        font-weight: 700;
        font-size: 200px;
        line-height: 1;
        white-space:nowrap;


        div{
            display: block;
            width: 200%;
            height: 200px;
            position: absolute;
            overflow: hidden;
            left: 0;
            animation: slide 12s linear infinite both;  
        }

        span{    
            margin-right: 50px;
            color:#ECE9D7;
            width: 50%;


            @include d(468px){
                font-size: 160px;
            }

        }   
        
    }
    

    .box{
        position: relative;
        z-index: 5;
        width: 20vw;
        margin: 0 auto;
        @include m(){
            width: 220px;
        }
        img{
            width: 100%;
        }
    }
    .ingredients_bg{
        z-index: 10;
        position: absolute;
        padding: 0 11.5%;
        bottom:-20%;
        transform: scale(0.2);
        @include m(){
            padding: 0 ;
            bottom:24%;
        }
    }
    .small_info{
        line-height: 2;
        letter-spacing: 0.5px;
        font-size: 14px;
        text-align: center;
        padding: 40px $side_padding-360px;
        @include m(){
            padding:  40px $side_padding-m;
        }
    }
    
    // 更多盒子的區塊======================
    .article2{ 
        position: relative;
        width: 100%;
        @include flex(column);
        background-color: $color_cream;
        padding: 40px 0;

        @include p(){
            @include flex(column,space-between,start);
        }

        .recipe_slide{  
            margin: 0 auto;  
            width: 90vw;
            height:14vw;
            overflow:hidden;
           
            &.block1 .recipes_theme{
            left: -15vw; 
            }
            
            &.block2 .recipes_theme{
            right: -90vw;
            }
        }
        .recipes_theme {
            position: relative; 
        } 
        
        .recipe_item{
            width:14vw;
            height:14vw;
            position:absolute;
            @include flex;
            border-radius: 16px;
            overflow: hidden;
            
            img{
                width: 140%;
                opacity:0.8;
                transition: 0.5s;
                &:hover{ 
                    transform: scale(1.25);
                    opacity:1;
                }
            }
        }
        //article2更多盒子的中間資訊
        .article2_info{
            
            @include flex(row,space-between,center);
            width: 100%;
            padding: 40px $side_padding-360px;
            //斷點
            @include p(){
                @include flex(column);
            }
            @include m(){
                padding:  40px $side_padding-m;
            }

            p{
                width: 24%;
                padding: 0;
                @include p(){
                    width: 100%;
                }
            }
            .box_half{
                width: 25vw;
                @include abCenter;
                filter: drop-shadow(0 0 20px rgba(#aaa,.2));
                @include p(){
                    transform: translate(-50%,26px);
                    left: 50%;
                }
                @include m(){
                    width: 280px;
                    transform: translate(-50%,36px);
                }
            }
            
            .morebox{
                width: 24%;
                @include p(){
                    margin-top: 28vw;
                    width: 80%;
                    @include m(){
                        margin-top: 88vw;
                    }
                }
            }
            .btn_transparent{
                width: 100%;
                
            }
          

        
        }


    }

// 更多服務的區塊=======================
    .article3{
        width: 100%;
        padding: 80px $side_padding-360px;
        margin-bottom: -40px;
        background-image: url(../../images/index_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @include m(){
            padding: 40px $side_padding-m 200px;
            margin-bottom: -200px;
        }
        
        .small_info{
            padding:40px 0;
        }
    }
    .box_close{
        width: 15.6vw;
        @include m(){
            width: 172px;
        }
    }
    .moreOffer{
        @include flex(row,space-evenly,start);
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 20px;
        .more_info{
            min-width: 200px;
            min-height: 200px;
            width: 33%;
            padding: 8%; 
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;

        }
        p{
            font-size: 14px;
        }
        .title_sm{
            @include flex;
            margin-bottom: 20px;
        }
        .title_sm{

            font-weight: 700;
            h6{
                white-space: nowrap;
            }
            &.red{
                color: darken($color:$color_tag_red, $amount: 5);
                .circle{
                    background-color: $color_tag_red;
                }
            }
            &.green{
                color: darken($color:$color_tag_green, $amount: 5);
                .circle{
                    background-color: $color_tag_green;
                }
            }
            &.purple{
                color: darken($color:$color_tag_purple, $amount: 5);
                .circle{
                    background-color: $color_tag_purple;
                }
            }

        } 
      

        .circle{
            @include size(20px,20px,50%);
            min-width: 20px;
            margin-right: 20px;
        }
        .newProduct{
            background-image: url(../../images/index_irregularCircle1.png);
        }
        .chefClass{
            background-image: url(../../images/index_irregularCircle2.png);
        }
        .shareTable{
            background-image: url(../../images/index_irregularCircle3.png);
        }
        
    }
    
    .othersOffer{
        @include size(20vw, 32px);
        margin: 0 auto;
        margin-bottom: 40px;
        @include p(){
            width: 80%;
        }
    }
   

}
