

.container{
    height: 100%;
    width: 100%;
    // background-color: #f5f5f570; 
}

.overlay{
    background-image: url(/images/login_bg.jpg);
    width: 800px;
    height: 450px;
    position: relative;
    margin: 5% auto;
    padding: 5px;
    border-radius: 10px;
}
.close-btn{
    float: right;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;
    color: #D9D9D9;
}

.log-in{

}