.memberform{
    font-family: $font-family;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;


}
.member_tabs{
    display: flex;


}
.main{
    background-color: $color_cream;
    height: 700px;

}
.tab{
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #c0c0c0;
    padding: 10px 20px;
    
    
}
.main_text{ 
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
    line-height: 3;
    border-bottom: 3px solid #000;
    margin-bottom: 30px;
}

.data{
    width: 80%;
    margin: 0 auto;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    
}


.short-g, .long-g{
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
}

.title-text{
    padding: 6px 0;
}

.input-space{
    border-radius: 8px ;
    background-color: white;
    border: none;
    padding: 10px;
    border: 1px solid $color_darkblue;
}

.short-g{  
    width: 300px;
    
}


.short-g:nth-child(2){
    width: 300px;
    display: flex;
    margin-left: 40px;
}
.long-g{
    /* border: 1px solid blue; */
    width: 100%;
}

.t-choose{
    background-color: $color_cream;
}


.btn_cxl{
    padding: 5px 20px;
    width: 20%;
    font-size: 16px;
    margin-left: 58%;

    @include btn($color_darkblue,$color_lightblue,$color_blue,$border-radius-50);
    border: none;

    &:active{
        @include btn_hover($white,$color_darkblue,$color_lightblue);
        border: none;
    }
    
    
}

.btn_change{
    width: 20%;
    padding: 5px 20px;
    font-size: 16px;
    margin-left: 10px;

    
    @include btn($white,$color_blue,$color_blue,$border-radius-50);
    border: none;
    
    &:active{
        @include btn_hover($white,$color_darkblue,$color_lightblue);
        border: none;
    }
}


//隱藏商品訂單查詢
.d-none{
    display: none;
}


// 商品訂單查詢


$baseColor: #398b93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

.table {
background-color: darken($baseColor, 5%);
color: white;
font-size: 1.5em;
padding: 1rem;
text-align: center;
text-transform: uppercase;
}

.tbimg {
border-radius: 50%;
height: $imageSmall;
width: $imageSmall;
}

.table-users {
border: 1px solid darken($baseColor, 5%);
border-radius: $borderRadius;
box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
max-width: calc(100% - 2em);
margin: 1em auto;
overflow: hidden;
width: 100%;
}

table {
width: 100%;

    td,th {
        color: darken($baseColor, 10%);
        padding: $padding;
    }

    td {
        text-align: center;
        vertical-align: middle;

        &:last-child {
            font-size: 0.95em;
            line-height: 1.4;
            // text-align: left;
        }
    }

    th {
        background-color: lighten($baseColor, 50%);
        font-weight: 300;
    }

    tr {
        &:nth-child(even) {
            background-color: white;
        }
        &:nth-child(2n + 1) {
            background-color: lighten($baseColor, 55%);
        }
    }
}
.btn_back{
    width: 20%;
    padding: 5px 20px;
    font-size: 16px;
    margin-left: auto;
    // margin-bottom: auto;
//    
    
    
    @include btn($white,$color_blue,$color_blue,$border-radius-50);
    border: none;
    
    &:active{
        @include btn_hover($white,$color_darkblue,$color_lightblue);
        border: none;
    }

}

@media screen and (max-width: 700px) {
table,tr,td {
    display: block;
    width: 550px;
}

td {
    &:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: $imageBig;
    }

    &:not(:first-child) {
        clear: both;
        margin-left: $imageBig;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;

        &:before {
        // color: lighten($baseColor, 30%);
        content: "";
        display: block;
        left: 0;
        position: absolute;
        }
    }

    &:nth-child(2):before {
        content: "訂單編號:";
    }
    &:nth-child(3):before {
        content: "訂單日期:";
    }
    &:nth-child(4):before {
        content: "訂單金額:";
    }
    &:nth-child(5):before {
        content: "訂單商品:";
    }
}

tr {
    
    padding: $padding 0;
    position: relative;
    
    &:first-child {
        display: none;
    }
}
}






 // <!-- RWD -->
    
    @include d(768px){
        .short-g:nth-child(2){
            margin: 0;
        }

        .btn_cxl{
            margin: 0 auto;
            width: auto;
        }
        .btn_change{
            width: auto;
        }
    }