.orderDetail{
    background-image: url("/thd102/g1/images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        /* 這邊要抽換padding */
        padding:40px $side_padding-360px ;
    }
    .title_sm{
        text-align: center;
        margin-bottom: 30px;
        font-weight: 600;
        color: $color_blue;
    }
    .result {
        background-color: $white;
        font-size: 16px;
        border-radius: 20px;
        overflow: hidden;
    }
    .td {
        padding: 12px 16px; 
        border-bottom: #eee solid 1px;
    }

    .back {
        color: $white;
    }
    .back:hover {
        color: $color_darkblue;
    }


}