.shopping-pay{
    // 付款頁面  上排流程圖
    *{
        outline: solid 1px red;
    }
    .container{
        margin-top: 80px;
        padding: 40px $side_padding-360px;
        @include p(){
            padding: 40px $side_padding-m;
        }
        @include m(){
            padding: 40px $side_padding-m;
        }
        .cart{
            background-color: $color_warterblue;
        }
        .cart-text{
            color: $black;
        }
        .pay{
            background-color: $color_blue;
        }
        .pay-text{
            color: $white;
        }
    }
    // ---------------------------------------
    
    //-------------------------付款區塊
    .paypage{
        // width: 60%;
        border: 1.4px solid $color_darkblue;
        // margin: 0 auto 100px auto;
        
        border-radius: $border-radius-16;
        @include m(){
            width: 100%;
            border: none;
            margin: 0 auto;
        }
        @include p(){
            border: none;
         }
    }
    .paypage-form{
        width: 60%;
        margin: 40px auto ;
        @include p(){
            width: 80%;
        }
        @include m(){
            width: 100%;
            margin: 0 auto;
        }
    }
    .shoppingcart-pay-form-title{
        font-weight: 700;
        width: auto;
        margin: 0 auto;
        text-align: center;
        @include m(){
            text-align: center;
        }
    }
    .shoppingcart-pay-form-cardtitle{
        font-weight: 700;
        margin-top: 20px;
        @include m(){
            text-align: center;
            margin: 40px;
        }
    }
    .input-usertext{
        width: 100%;
        height: 45px;
        border-radius: 10px;
        border: 1px solid $color_grayblue;
        margin: 15px auto 0 auto;
        font-size: $h6;
    }
    .form-h5{
        width: fit-content;
        margin-top: 30px;
        
    }
    span{
        font-size: $h7;
        width: fit-content;
    }
    .checkbox{
        width: 20px;
        height: 20px;
        margin: auto 15px;
        // border: 1px solid $color_grayblue;
    }
    
    .card-number{
        width: 76px;
        height: 35px;
        text-align: center;
        font-size: $h6;
        border-radius: 10px;
        border: 1px solid $color_grayblue;
        margin: 15px auto 0 auto;
        
    }
    .pay-dash{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 30px;
        @include m(){
            margin: 0 3px;
        }
    }
    .pay-carddate{
        width: 80px;
        height: 35px;
        text-align: center;
        font-size: $h6;
        border-radius: 10px;
        border: 1px solid $color_grayblue;
        margin: 15px auto 0 auto;
    }
    .paypage-form .pay-slash{
        margin-left: 5px;
        margin-right: 5px;
    }
    .chip-number{
        width: 120px;
        height: 35px;
        text-align: center;
        font-size: $h6;
        border-radius: 10px;
        border: 1px solid $color_grayblue;
        margin: 15px auto 0 auto;
    }
    .checkbox-wra{
        display: flex;
        margin-top: 30px;
    }
    .item-button{
        display: flex;
        margin: 40px auto;
        justify-content: center;
        @include p(){
            margin: 40px auto 0 auto;
        }
    }
    .pay-prev{
       margin-right: 10px;
    }
    .pay-next{
       margin-left: 10px;
    }
}