.shopping{
    *{
    //    outline: solid 1px red;
    }
    .container{
        margin-top: 80px;
        padding: 40px $side_padding-360px;
        @include p(){
            padding: 40px $side_padding-m;
        }
        @include m(){
            padding: 40px $side_padding-m;
        }
    }

    // 購物車  上排流程----------------------------------------
    .process {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 4%;
        margin-bottom: 60px;
    }
    .process_circle{
        width: 9vw;
        height: 9vw;
        border-radius: 50%;
        background-color: $color_warterblue;
        @include flex(column,center,center);
        i{
            font-size: 20px;
            color: $white;
            margin-bottom: 6px;
        }
        @include p(){
            width: 12vw;
            height: 12vw;
        }
        @include m(){
            width: 20vw;
            height: 20vw;
        }
        @include d(610px){
            width: 18vw;
            height: 18vw;
        }
    }

    .line {
        width: 10vw;
        height: 2px;
        background-color: $color_warterblue;
    }

    .cart_item {
        background-color: $color_blue;
        .process-text{
            color:$white;
        }      
    }
    

    // ---------------------------------------------------

    .shoppingcart-list {
        @include flex(row,space-between,center);
        padding: 20px 2vw;
        border-bottom: 1px solid $color_blue;
        .item-quantity{
            text-align: center;
        }
        @include d(854px){
            display: none;
        }
    }
    //--------------------商品卡片-------------------
    .shopping-theme-text{
        padding: 20px 2vw;
    }

    .shoppingcart-item{
        display: flex;
        width: 100%;
        @include flex(row,space-between,center);
        padding: 20px 2vw;
        border-bottom: 1px solid $color_warterblue;
        .item-quantity{
            display: flex;
            @include flex(row,center,center);
        }
    }
    
    .item-img {
        width: 20%;
        overflow: hidden;
        border-radius: 5px;
        font-size: 0;
        max-height: 120px;
        @include flex;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .item-title {
        width: 24%;
    }


    .item-price {
        width: 8%;
        @include p(){
            display: none;
         }
    }
    //加減數量-------------------
    .item-quantity {
        width: 15%; 
        @include d(1000px){
            width: 20%;
         }
        @include p(){
            width: 20%;
         }
        @include m(){
            width: 25%;
        }
        .btn-number-shopping{
            width:90%;
            margin: 0;
            height: 25px;
            border-radius: 4px;

            .b-add-shopping{
                &::after{
                    height: 70%;
                    width: 2px;
                }
                
            }
            .quantity-num{
                width: 50%;
            }
        }
        .b-sub-shopping{
            &::before{
                width: 20px;
                height: 2px;
            }
        }
        // @include m(){
        //     width: 20%;
        //  }
    }

    .quantity-num {
        background-color: $white;
        text-align: center;
        border: none;
        // @include m(){
        //     width: 20%;
        //  }
    }
    //---------------------

    .item-amount {
        width: 8%;
        @include m(){
            width: auto;
         }
    }

    .item-delete {
        width: 4%;
        @include flex(row,flex-end,center);
        cursor: pointer;
        i{
            color:rgba(#aaa,.5);
            transition:.5s;
            &:hover{
                color:rgba(#aaa,.8);
            }
        }
    }

    .item-theme {
        text-align: center;
        border-radius: 16px;
        margin-bottom: 12px; 
        font-size: 14px;
        @include m(){
            width: 80%;
            font-size: 12px;
         }
    }

    //--------------------------訂購活動
    .activity{
        .item-title-text{
            font-size: $h7;
        }
    }
    .total {
        margin-top: 40px;
        text-align: end;
        font-weight: 700;
    }

    .item-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;

        .btn_white{
            width: 120px;
            font-weight: 700;
            height: 32px;
            border: 1px solid $color_blue;
        }
    }

    .shoppingcart-prev{
        margin-right: 20px;
    }
    .next {
        background-color: $color_blue;
        color: $white;
        &:hover{
            background-color: $color_darkblue;
        }
    }

}

