/*css 註解*/
// ======  設定變數 ======
// 字體
// 顏色
// 斷點
// 按鈕尺吋 顏色
// 標題字 大小 顏色

// //變數型態
// $margin : 0; // list

// 斷點
$m : 467px;
$t : 1200px;


// //border-radius
$border-radius-50 : 50px;
$border-radius-16 : 16px;

//padding
//PC 1920 -> 左右 內推 360px = 18.75%
$side_padding-360px : 18.75%; 
$top_padding : 80px; 