
$black : #333;
$white : #f5f5f5;
$gray : #aaa;


$color_cream:#F8F7EE;
$color_orange:#F2C185;
$color_lightblue:#A5DEE4;
$color_grayblue:#799594;
$color_darkblue:#255359;
$color_blue:#1E88A8;

$color_tag_red:#E2A3A3;
$color_tag_green:#A3CC83;
$color_tag_blue:#61B7E7;
$color_tag_yellow:#F5CA4C;
$color_tag_purple:#9A83CC;

$fontColor : $color_darkblue; // color
$backgroundColor: $white;

