
$black : #333;
$white : #f5f5f5;
$gray : #aaa;


$color_cream:#F8F7EE;
$color_orange:#F2C185;
$color_lightblue:#A5DEE4;
$color_grayblue:#799594;
$color_darkblue:#255359;
$color_blue:#1E88A8;

$color_red:#C97755;
$color_green:#A3CC83;
$color_purple:#9A83CC;

$fontColor : $color_darkblue; // color
$backgroundColor: $white;

