@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');


$fontsize : 16px; 
$font-family: 'Noto Sans TC', sans-serif; //字串
$font-color:$color_darkblue;

$h1 : 48px;
$h2 : 40px;
$h3 : 32px;
$h4 : 28px;
$h5 : 24px;
$h6 : 20px;
$h7 : 16px;

