.btn_white{
    @include btn($color_blue,$white,$color_lightblue,$border-radius-50);
    border: none;
    &:hover{
        @include btn_hover($white,$color_blue,$color_blue);
        border: none;
    }
}


.btn_load{
    @include btn($white, $color_darkblue, $color_darkblue, 100px);
    @include size(180px, 43px);
    font-size: $h7;
    margin: 0 auto;
    margin-top: 48px;
}