//@include btn(字體顏色,背景顏色,border顏色,border弧度)
//@include btn_hover(字體顏色,背景顏色,border顏色)

.btn_white{
    @include btn($color_blue,$white,$color_lightblue,$border-radius-50);
    border: none;
    &:hover{
        @include btn_hover($white,$color_blue,$color_blue);
        border: none;
    }
}

.btn_transparent{
    @include btn($color_blue,rgba($white,.2),$color_blue,$border-radius-50);
    padding: 8px 20px;
    font-weight: 700;
    transition:.5s;
    &:hover{
        @include btn_hover($white,$color_blue,$color_blue);
        font-weight: 700;
        opacity:0.8;
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 4px rgba(#333,.2);
    }

}




.btn_load{
    @include btn($white, $color_darkblue, $color_darkblue, 100px);
    @include size(180px, 43px);
    font-size: $h7;
    margin: 0 auto;
    margin-top: 80px;

    @include rwdGrid($m){
        margin-top: 56px;
    }
}

.btn-number{
    
    display: flex;
    border-radius: 10px;
    height: 35px;
    overflow: hidden;
    margin-bottom: 10px;
    .b-n{
        background-color: $color_blue;
        color: $white;
        cursor: pointer;
        width: 20%;
        height: 100%;
        // border: 1px solid $color_blue;

    }
    .b-sub{
        position: relative;
        &::before{
            display: inline-block;
            content: "";
            width: 20px;
            height: 2px;
            background-color: $white;
            @include abCenter_xy;
        }
       
    }
    .b-add{
        position: relative;

        &::before{
            display: inline-block;
            content: "";
            width: 20px;
            height: 2px;
            background-color: $white;
            @include abCenter_xy;
        }
        &::after{
            display: inline-block;
            content: "";
            width: 2px;
            height: 20px;
            background-color: $white;
            @include abCenter_xy;
        }

        }
    .text{
        text-align: center;
        font-size: $h7;
        border: none;
        color: $color_darkblue;
        width: 60%;
        height: 100%;
        border: 1px solid $color_blue;

       
    }
}
.btn_shopping-prev{
    @include btn($fontColor,#fff,$color_blue,$border-radius-50);
    width: 181px;
    height: 50px;
    &:hover{
        @include btn_hover($white,$color_blue,$color_blue);
        border: none;
    }
}
.btn_shopping-next{
    @include btn($white ,$color_blue,$color_blue,$border-radius-50);
    width: 181px;
    height: 50px;
    &:hover{
        @include btn_hover($fontColor,#fff,$color_blue);
        
    }
}




//購物車按鈕
.btn-number-shopping{
    
    display: flex;
    border-radius: 10px;
    height: 35px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid $color_blue;
    .b-n-shopping{
        background-color: $color_blue;
        color: $white;
        cursor: pointer;
        width: 25%;
        height: 100%;

    }
    .b-sub-shopping{
        position: relative;
        &::before{
            display: inline-block;
            content: "";
            width: 20px;
            height: 2px;
            background-color: $white;
            @include abCenter_xy;
        }
       
    }
    .b-add-shopping{
        position: relative;

        &::before{
            display: inline-block;
            content: "";
            width: 20px;
            height: 2px;
            background-color: $white;
            @include abCenter_xy;
        }
        &::after{
            display: inline-block;
            content: "";
            width: 2px;
            height: 20px;
            background-color: $white;
            @include abCenter_xy;
        }

        }
    .text-shopping{
        text-align: center;
        font-size: $h7;
        border: none;
        color: $color_darkblue;
        width: 60%;
        height: 100%;
        border: 1px solid $color_blue;

       
    }
}