.card-act{
    background-color: white;
    border-radius: 5px;
    position: relative;
    @include btn_shadow($black, .4);

    @include rwdGrid($m){
        // height: 420px;
    }

    .card-top{
        overflow: hidden;
        border-radius: 5px;
        .image{
            overflow: hidden;
            height: 278px;
            width: 100%;
            img{
                object-fit: cover;
                height: 100%;
            }
        }
        
        .act-info{
            padding: 20px 30px 45px;
    
            .act-txt{
                margin-top: 10px;
    
                h4{
                    font-size: $h4;
                    color: $black;
                    font-weight: 500;
                }
        
                ul{
                    // display: flex;
                    margin-top: 10px;
                    li{
                        // border: 1px solid red;
                        // @include size(105px, 36px);
                        i{
                            display: inline-block;
                            margin-right: 5px;
                        }
                        p{
                            display: inline-block;
                        }
                    }
        
                    }
                   
                }
            }
            
        }
    }

.btn_group{
    margin: 0px auto;
    font-size: 0;
    position: absolute;
    bottom: -20px;
    @include abCenter();
    @include flex();

    a{
        // display: inline-block;
        font-size: $h7;
        height: 43px;
        
    }
}

.left{
    @include btn($color_blue, $white, $color_blue);
    border-radius: 50px 0 0 50px;
    &:hover{
        @include btn_shadow();
    }
}

.right{
    border-radius: 0 50px 50px 0;
    @include btn($white, $color_blue, $color_blue);
    &:hover{
        @include btn_shadow;
    }
}