.card-box{
    // outline: 1px solid red;
    // width: 350px;
    background-color: $color_cream;
    border-radius: 12px;
    @include btn_shadow($black, .4);
    margin-bottom: 70px;
    overflow: hidden;

    
    .box-images{
        height: 280px; 
    }
    .box-text{
        //  outline: 1px solid red;
        @include flex(row,start,center);
        
        margin-top: 15px;
        margin-bottom: 15px;
        h6{
            margin-left: 15px;
            margin-right: 69px;
        }
        p{
            margin-right: 15px;
            margin-left: 5px;
        }
    }
    .tag-color{
        @include size(16px,16px,50%);
        background-color: $color_tag_purple;
    
    }

}
