.card-box{
    // outline: 1px solid red;
    width: 350px;
    background-color: $color_cream;
    border-radius: 12px;
    @include btn_shadow($black, .8);
    margin-bottom: 70px;
    overflow: hidden;

    
    .box-images{
        height: 280px; 
    }

}
