@include grid(12);

@include gridTest(12, 2%);

//手機
@include rwdGrid($m){
    @include grid(6, 'm-');
    @include gridTest(6, 2%, 'm-');
    .wrapper-t{
        width: 100%;
        padding: 20px;
    }
}

.grid-b{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    // padding-bottom: 15px;

    // @include t{
    //     grid-template-columns: 1fr 1fr;

    // }
    @include m{
        grid-template-columns: 1fr;
    }
    
}