// @include rect(寬 ,高, 圓角); // 
@mixin size($w , $h:$w , $bdrs:null){
    width: $w ;
    height: $h ;
    border-radius: $bdrs;
}

//@include flex(方向,主軸排列,副軸排列)
//(預設置中)
@mixin flex($d:row,$jc:center,$ai:center){
    display: flex;
    flex-direction: $d;
    justify-content: $jc;
    align-items: $ai;
}

// @include center(寬 ,高) 置中
@mixin center($w , $h){
  margin: 0 auto;
  @include size($w , $h)
}

@mixin flexCenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexCenter{
    @include flexCenter;
}

//字體大小/顏色/字重
@mixin fontStyle($font-size,$font-color,$font-weight:400,$line-height:1.2){
    line-height: $line-height;
    font-size:$font-size;
    color:$font-color;
    font-weight: $font-weight;
}

//格線
@mixin grid($num , $r:null) {
    @for $i from 1 through $num {
        .col-#{$r}#{$i} {
            width: calc($i / $num) * 100%;
        }
    }
}

@mixin gridTest($num, $gut, $r:null){
    @for $i from 1 through $num {
        .colte-#{$r}#{$i} {
            // width: calc(100% / $num - ($gut * ($num -1)));
            width: calc((100% / $num * $i) - ($gut / $num * ($num - $i)));
        }
    }
}


//position:absolute置中
@mixin abCenter{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin abCenter_xy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

//btn_shadow
@mixin btn_shadow($shadow_color:$color_darkblue,$opacity:.5){
    box-shadow: 0 0 4px rgba($shadow_color,$opacity);
}

//font_shadow(<i>標籤使用)
@mixin font_shadow($shadow_color:$color_darkblue,$opacity:.5){
    text-shadow: 0 0 4px rgba($shadow_color,$opacity);
}

//商品頁和活動頁tag-full
@mixin tag-full($bgc){
    background-color: $bgc;
    border-radius: 10px;
    text-align: center;
    @include fontStyle($h7, $white, 400, 1.5);
    @include size(91px, 27px);
}

// tag外框
@mixin tag-border($bdc, $bgc: null){
    background-color: $bgc;
    border: 1.5px solid $bdc;
    font-size: $h6;
    color: $bdc;
    border-radius: 100px;
    text-align: center;
    line-height: 1.5;
    @include size(180px, 36px);
}

//btn相關
//@include btn(字體顏色,背景顏色,border顏色,border弧度)
@mixin btn($color,$bgc,$bd_color,$bdrs:null){
    color:$color;
    background-color: $bgc;
    border-radius: $bdrs;
    transition:background-color .5s;
    cursor: pointer;
    border: solid 1px $bd_color;
    white-space: nowrap;
    @include flex;
}

//@include btn_hover(字體顏色,背景顏色,border顏色)
@mixin btn_hover($color,$bgc,$bd_color){
    color:$color;
    background-color:$bgc;
    border: solid 1px $bd_color;
    @include btn_shadow;
}

//字體大小/顏色/字重
@mixin fontStyle($font-size,$font-color,$font-weight:400,$line-height:1.2){
    line-height: $line-height;
    font-size:$font-size;
    color:$font-color;
    font-weight: $font-weight;
}


// //================ breakpoint ============================
//  //手機板
// @mixin m() {
//     @media screen and (max-width: $m) {
//         @content;
//     }
// }

// //平板
// @mixin t() {
//     @media screen and (max-width: $t) {
//         @content;
//     }
// }  
// // 自己設定
// @mixin d($b){
//     @media screen and (max-width: $b) {
//         @content;
//     }
// }


// 圖片背景使用
// @each  
// @mixin img_bg($list) {
//     @each $i in $list {
//         .#{$i}_slider {
//             background-image: url('../../images/#{$i}.jpg');
//             background-repeat: no-repeat;
//             background-size: cover;
//             @content;
//         }
//     }
// }
