// @include rect(寬 ,高, 圓角); // 
@mixin size($w , $h:$w , $bdrs:null){
    width: $w ;
    height: $h ;
    border-radius: $bdrs;
}


// @include center(寬 ,高) 置中
@mixin center($w , $h){
  margin: 0 auto;
  @include size($w , $h)
}

@mixin flexCenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexCenter{
    @include flexCenter;
}


//position:absolute置中
@mixin abCenter{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

//btn_shadow
@mixin btn_shadow($shadow_color:$color_darkblue,$opacity:.5){
    box-shadow: 0 0 4px rgba($shadow_color,$opacity);
}

//font_shadow(<i>標籤使用)
@mixin font_shadow($shadow_color:$color_darkblue,$opacity:.5){
    text-shadow: 0 0 4px rgba($shadow_color,$opacity);
}

//商品頁和活動頁tag-full
@mixin tag-full($bgc){
    color: white;
    background-color: $bgc;
    border-radius: 10px;
    font-size: $h7;
    text-align: center;
    line-height: 1.5;
    @include size(91px, 27px);
}

// //================ breakpoint ============================
//  //手機板
// @mixin m() {
//     @media screen and (max-width: $m) {
//         @content;
//     }
// }

// //平板
// @mixin t() {
//     @media screen and (max-width: $t) {
//         @content;
//     }
// }  
// // 自己設定
// @mixin d($b){
//     @media screen and (max-width: $b) {
//         @content;
//     }
// }




// 圖片背景使用
// @each  
// @mixin img_bg($list) {
//     @each $i in $list {
//         .#{$i}_slider {
//             background-image: url('../../images/#{$i}.jpg');
//             background-repeat: no-repeat;
//             background-size: cover;
//             @content;
//         }
//     }
// }

//字體大小/顏色/字重
@mixin fontStyle($font-size,$font-color,$font-weight:400){
    font-size:$font-size;
    color:$font-color;
    font-weight: $font-weight;
}
